<%=form_for(@test,as: :test, url:{action:"create"}, :html=>{:class=>"submit-form container panel panel-default"}) do |f| %>
	<div class=" panel-heading">
		<div>
			Name of Test:<%=f.text_field :name%>
			<%=f.error_message_for :name%>
		</div>
		<div>
			Time: <%=f.time_field :examtime%>
			<%=f.error_message_for :examtime%>
		</div>
		<div>
			Type: <%=f.select(:type,options_for_select(["Practicetest","Competition"]))%>
		</div>
		<div>
			Add questions: <%=f.select :question_ids, options_from_collection_for_select(Question.all,'id','name'), {},multiple: true%>
		</div>
	</div>
	<span class="add-question glyphicon glyphicon-plus" data-name="question">Add questions</span>
	<br>
	<div class="question-type question-sortable">
		<%=f.fields_for :testquestions do |que|%>
			<%=que.fields_for :question do |ques|%>
				<div class="hiddenquestion panel panel-body panel-success">
					<div class="order-question" style="display: none;">
						<%=que.text_field :order%>
					</div>
					<span class="remove-question glyphicon glyphicon-remove-sign" data-name="question" style="float:right"></span>
					<%=render partial: "questions/addquestion", locals:{f:ques}%>
				</div>
		  <% end %>
		<% end %>
	</div>
	<div class="panel-footer panel-success">
		<%= f.submit "Create"%>
	</div>
<% end %>
