<div>
	Question name<%=f.text_field :name%>
</div>
<div>
	Question <%=f.text_area :question%>
</div>
<div>
	options <%=f.fields_for :options do |opti|%>
		<%=opti.check_box :istrue%>
		<%=opti.text_field :value%>
	<% end %>
	<div>
		<%=f.fields_for :options do |opti|%>
			<%=opti.check_box :istrue%>
			<%=opti.text_field :value%>
		<% end %>
	</div>
	<div>
		<%=f.fields_for :options do |opti|%>
			<%=opti.check_box :istrue%>
			<%=opti.text_field :value%>
		<% end %>
	</div>
	<div>
		<%=f.fields_for :options do |opti|%>
			<%=opti.check_box :istrue%>
			<%=opti.text_field :value%>
		<% end %>
	</div>
	
</div>
<div>
	Question Type<%=f.collection_select :questiontype_ids, Questiontype.all, :id, :qtype,{},{:multiple => true} %>
</div>
<div>
	Add Question type<%=f.fields_for :questiontypes do |qtyp|%>
		<%=qtyp.text_field :qtype%>
	<% end %>
</div>
