<script type="text/javascript">
	$(document).ready(function(){
		$(".add-question,.add-option,.add-questiontype").unbind('click').click(init_element);
		$(".question-sortable,.option-sortable,.questiontype-sortable").sortable();
		$(".remove-option,.remove-questiontype,.remove-question").click(remove_div);

		function init_element(){
			button= $(this).data("name");
			console.log(button);
			length=$(this).parent().find(".".concat(button,"-type")).children('div').length
			if(!$(this).parent().find(".".concat(button,"-type")).children('div').is(":visible")){
				$(this).parent().find(".hidden"+button).show();
				$(this).parent().find(".".concat(button,"-type")).children('div').first().find(":input").prop('disabled', false)
			}
			else{
				clonedtype=$(this).parent().find(".".concat(button,"-type")).children().last().clone();
				$(this).parent().find(".".concat(button,"-type")).append(clonedtype)
				$(this).parent().find(".".concat(button,"-type")).children().last().find(":input").each(function(){
					this.name=this.name.replace(this.name.substr(this.name.indexOf(button)),this.name.substr(this.name.indexOf(button)).replace(/[0-9]+/,length))
				});
				if(button == "question"){
					$('.add-option,.add-questiontype', clonedtype).click(init_element);
					$('.option-sortable,.questiontype-sortable', clonedtype).sortable();
					$(".remove-option,.remove-questiontype,.remove-question").click(remove_div);
				}
				if(button == "option"){
					$(".remove-option",clonedtype).click(remove_div);
				}
				if(button == "questiontype"){
					$(".remove-questiontype",clonedtype).click(remove_div);
				}
			}
		}

		function remove_div(){
			button=$(this).data("name");
			gp=$(this).parent().parent();
			if(gp.children('div').length>1){
				namestring=$(this).parent().find(":input").first()[0].name
				index=parseInt(namestring.substring(namestring.indexOf(button)).match(/[0-9]+/)[0])
				$(this).parent().parent().children("div").each(function(){
					$(this).find(":input").each(function(){
						ind=parseInt(this.name.substring(this.name.indexOf(button)).match(/[0-9]+/)[0])
						if(ind>index)
							this.name=this.name.replace(this.name.substr(this.name.indexOf(button)),this.name.substr(this.name.indexOf(button)).replace(/[0-9]+/,ind-1))
					})
				});
				$(this).parent().remove();
			}
			else
			{
				$(this).parent().hide();
				$(this).parent().find(":input").prop('disabled',true);
			}
		}
	});
</script>
<br>
<div class="form-group">
	<label>Question name</label>
	<%=f.text_field :name, class: "form-control"%>
</div>
<div class="form-group">
	<label>Question</label>
	<%=f.text_area :question, class: "form-control", rows: "5"%>
</div>

<span class="add-option glyphicon glyphicon-plus" data-name="option">Add options</span>
<div class="option-type option-sortable">
	<%=f.fields_for :options do |opti|%>
		<div class="hiddenoption">
			options <%=opti.check_box :istrue%>
			<%=opti.text_field :value%>
			<span class="remove-option glyphicon glyphicon-remove-sign" data-name="option"></span>
		</div>
	<% end %>
</div>
<br>

<div>
	Question Type <%=f.collection_select :questiontype_ids, Questiontype.all, :id, :qtype,{},{:multiple => true} %>
</div>
<br>

<span class="add-questiontype glyphicon glyphicon-plus" data-name="questiontype">Add questiontype</span>
<div class="questiontype-type questiontype-sortable">
	<%=f.fields_for :questiontypes do |qtyp|%>
		<div class="hiddenquestiontype" style="display: none;">
			Add Question type <%=qtyp.text_field :qtype, disabled:"#{'disabled'}"%>
			<span class="remove-questiontype glyphicon glyphicon-remove-sign" data-name="questiontype"></span>
		</div>
	<% end %>
</div>
<br>
